.cart-item-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    transition: all 0.3s ease;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.cart-item-container:hover {
    background-color: #f8f8f8;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
}

.cart-item-container .cart-item-image {
    border-radius: 8px;
}

.cart-item-image img {
    width: 80px;
    /* height: 80px; */
    /* object-fit: cover; */
    border-radius: 8px;
}

.cart-item-details {
    flex-grow: 1;
}

.cart-item-details h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.cart-item-details p {
    margin: 0;
    color: #777;
}

.cart-item-actions button {
    border-radius: 25px;
    padding: 8px 16px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cart-item-actions button:hover {
    transform: scale(1.05);
}

.cart-item-actions button:focus {
    outline: none;
}

.cart-item-actions .btn-warning {
    background-color: #ffc107;
    color: white;
}

.cart-item-actions .btn-warning:hover {
    background-color: #e0a800;
}

.cart-item-actions .btn-success {
    background-color: #28a745;
    color: white;
}

.cart-item-actions .btn-success:hover {
    background-color: #218838;
}

.cart-item-actions .btn-danger {
    background-color: #dc3545;
    color: white;
}

.cart-item-actions .btn-danger:hover {
    background-color: #c82333;
}