.navbar {
  background-color: #f8f9fa;
  padding: 10px 20px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar-logo {
  max-width: 140px;
  height: auto;
  margin-right: 10px;
}

.navbar-toggler {
  border: none;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar-search,
.navbar-cart {
  display: flex;
  align-items: center;
}

.navbar-search input {
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.navbar-cart .cart-icon {
  font-size: 1.5rem;
}

.nav-link .badge {
  min-width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}