.modal-content {
  background-color: #fff;
  border-radius: 1.25rem;
}

.modal-header {
  padding: 1rem;
  background-color: #f8f9fa;
  border-bottom: none;
}

.modal-body {
  font-size: 1rem;
  padding: 1.5rem;
  color: #333;
}

.modal-footer {
  padding: 1rem;
  justify-content: space-between;
}

.btn-close {
  color: #6c757d;
  font-size: 1.2rem;
}

.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
  border-radius: 30px;
  padding: 8px 20px;
  font-size: 1rem;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
  color: #fff !important;
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}