.product-page-container {
    padding: 50px 0;
    background-color: #f8f9fa;
    animation: fadeIn 1.5s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}