.card {
  min-height: 400px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.col-md-4 {
  margin-bottom: 20px;
}

.card-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.home-image {
  height: 250px;
  object-fit: contain;
  object-position: center;
  transform: scale(0.9);
}

.d-flex .ms-2 {
  margin-right: 5px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  border-width: 0.3rem;
}

.home-card {
  cursor: pointer; /* İmleç tıklanabilir olduğunu gösterecek */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.home-card:hover {
  transform: scale(1.02); /* Hover sırasında hafif bir büyüme efekti */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Hover sırasında gölge efekti */
}
