.card {
  min-height: 450px;
  border: none !important;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  padding-bottom: 60px;
  animation: fadeInUp 0.5s ease-in-out;
  animation-delay: calc(var(--animation-index) * 0.1s);
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.home-image {
  height: 250px;
  object-fit: contain;
  object-position: center;
  margin: 15px auto;
}

.card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rating-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  gap: 5px;
}

.card-footer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 !important;
  margin-top: 0.25rem !important;
}

.card-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #007bff;
  margin-right: 0 !important;
}

.btn-view-product {
  font-size: 2rem;
  font-weight: 600;
  color: #3fa9f5;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  margin-left: 0 !important;
}

.btn-view-product:hover {
  color: #298fe3;
  transform: translateY(-5px);
}

.btn-view-product:focus {
  outline: none;
}

.arrow-icon {
  font-size: 2rem;
  transition: transform 0.3s ease;
}

.btn-view-product:hover .arrow-icon {
  transform: translateX(5px);
}

.col-md-4 {
  margin-bottom: 20px;
}

.text-center {
  font-size: 1.1rem;
  color: #777;
  margin-top: 20px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}